* {
    font-family: 'Josefin Sans', sans-serif !important;
}

.test_body {
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    flex-basis: 1024px;
    margin: 0;
}

.test_header {
    background-color: rgb(55, 60, 63);
    height: 100px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    position: relative;
    color: white;
}

.test_header_menu {
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
}

.test_header_menu,
.test_header_menu-popover {
    display: flex;
    display: -webkit-flex;
    text-transform: uppercase;
    padding: 0 25px;
    margin: 0;
    align-items: center;
    -webkit-align-items: center;
}

.test_header_menu:focus,
.test_header_menu-popover:focus {
    outline: none;
}

.test_header_menu-popover {
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    position: absolute;
    top: 100%;
    background-color: rgb(55, 60, 63);
}

.test_header_menu > li,
.test_header_menu-popover > li {
    display: block;
    margin: 10px;
    cursor: pointer;
}

.test_header_menu-popover > li {
    width: 100%;
}

.test_header_menu-popover > li:not(:last-child) {
    border-bottom: 1px solid darkgrey;
}

.test_header {
    background-color: rgb(55, 60, 63);
}

.test_ad-secondary {
    background-color: rgb(39, 33, 44);
}

.test_pics_box,
.test_ad-block_link-box {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row-reverse wrap;
    flex-flow: row wrap;
}

.test_ad-secondary {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row-reverse nowrap;
    flex-flow: row nowrap;
}

.test_ad-block {
    height: 275px;
    padding: 200px 75px;
    background-color: rgb(14, 165, 187);
    color: white;
}

.test_ad-block_header {
    font-size: 66px;
    margin-bottom: 20px;
}

.test_ad-block_link-box {
    font-size: 26px;
    justify-content: space-between;
}

.test_ad-block_link {
    opacity: 0.5;
}

.test_ad-secondary {
    justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    font-size: 26px;
    height: 235px;
    color: white;
}

.test_ad-secondary_link {
    height: 100%;
    background-color: rgb(188, 49, 131);
    line-height: 235px;
}

.test_ad-secondary_text {
    margin: 100px 80px;
    opacity: 0.2;
}

.test_ad-secondary_link {
    flex-basis: 230px;
    text-align: center;

}

.test_pics_box {
    align-items: center;
    -webkit-align-items: center;
    text-align: center;
    background-color: rgb(91,15,161);
}

.test_pics_box > div,
.test_pics_box > img {
    flex-basis: 335px;
    flex-grow: 1;
}

.test_pics_box > img {
    height: 300px;
}

.test_content-box {
    padding: 50px 90px;
    background-color: rgb(235,235,235);

}
.test_content-text {
    columns: 365px 2;
    -moz-columns: 365px 2;
    -webkit-columns: 365px 2;
    column-gap: 40px;
    -moz-column-gap: 40px;
    -webkit-column-gap: 40px;
    color: rgb(81,81,81);
}

.invisible-element,
.test_header_menu-popover.hide {
    display: none !important;
}

.bars-button {
    height: 100%;
    text-align: center;
    line-height: 100px !important;
    flex-basis: 100px;
    font-size: 30px !important;
    cursor: pointer;
}

.bars-button:focus {
    outline: none;
}

.test_content-box > h3 {
    color: rgb(8, 140, 165);
}

a {
    color: inherit;
    text-decoration: none;
}